{% load static %}
<!DOCTYPE html>
<html>
<title>Risk Management</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:400px;" id="mySidebar"><br>
  <div class="w3-container">
    <br><br>
    <h4><b>Account Risk (s)</b></h4>
    <b>Table details</b>
    <table border="1px">
    <tr>
    <th>Acct. risk</th>
    <th>Customer Name</th>
    <th>Account Name</th>
    </tr>   
    {% for each in acc_risk %}
    <tr>    
        <td>{{each.acctRisk}}</td>
        <td>{{each.customer_name}}</td>
        <td>{{each.account_name}}</td>        
    </tr>
    {% endfor %}
</table>
</div>
</nav>
<div class="w3-overlay w3-hide-large w3-animate-opacity"  style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<div class="w3-main" style="margin-left:400px">

        <div class="w3-container">
                <h1><b>Analysis</b></h1>
        </div>

  <header id="portfolio">
        <div class="w3-row-padding">
                <div class="w3-third w3-container w3-margin-bottom">
                  
                  <div class="w3-container w3-white">
                    <p><b>Child Accounts</b></p>
                    <p>{{child_account}}</p>
                  </div>
                </div>
                <div class="w3-third w3-container w3-margin-bottom">
                  
                  <div class="w3-container w3-white">
                    <p><b>Account Won</b></p>
                    <p>{{account_won}}</p>
                  </div>
                </div>
                <div class="w3-third w3-container w3-margin-bottom">
                  
                  <div class="w3-container w3-white">
                    <p><b>High Potential Account</b></p>
                    <p>{{High_Potential_Account}}</p>
                  </div>
                </div>

                <div class="w3-third w3-container w3-margin-bottom">
                  
                        <div class="w3-container w3-white">
                          <p><b>High pipeline account</b></p>
                          <p>{{High_PipeLine_Account}}</p>
                        </div>
                      </div>

                      <!-- "account":Account.objects.values(), -->
                      <!-- "child_account":accountDetails.count(),
                      "account_won":accountDetails.filter(stage= "WON").count(),
                      "High_Potential_Account":accountDetails.filter(Potential= "HP").count(),
                      "High_PipeLine_Account":accountDetails.filter(pipline= "HP").count() -->
        </div>
  </header>
  <div class="w3-section w3-bottombar w3-padding-16">
        <div style="background-color:orange">
            <ul>
                    <li> accountRisk_id::  {{last_Value.accountRisk_id}}</li>
                    <li> accChildId :: {{last_Value.accChildId}}</li>
                    <li> Potential :: {{last_Value.Potential}}</li>
                    <li> pipline :: {{last_Value.pipline}}</li>
                    <li>accountRisk_id :: {{last_Value.accountRisk_id}}</li>
            </ul>    
                    
        </div>
</div>

   
    <div class="w3-section w3-bottombar w3-padding-16">
            <div class="w3-container w3-white">
                    <p><b>Account Details</b></p>
                    <table border="1px">
                        
                        
                        <th>accountRisk_id</th>
                        <th>accChildId</th>
                        <th>Potential</th>
                        <th>pipline</th>

                        <th>stage</th>
                        {% for each in account%}
                        <tr>
                            <td>{{each.accountRisk_id}}</td>
                            <td>{{each.accChildId}}</td>
                            <td>{{each.Potential}}</td>
                            <td>{{each.pipline}}</td>
                            <td>{{each.stage}}</td>
                        </tr>
                        {% endfor %}

                        </tr>
                    </table>
            </div>
    </div>
  </div>
</body>
</html>
